# .gitignore
# ----------------------------------------------------------------
# ECV-IV project
# ----------------------------------------------------------------

# ignore Eclispe configuration file
.project
.pydevproject
.settings

# python file
__pycache__
*.pyc

build
dist
ECV_IV.egg-info


# end of file
