# .gitignore
# ----------------------------------------------------------------
# ----------------------------------------------------------------

# ignore Eclispe configuration file
.project
.pydevproject
.settings

# python file
__pycache__
*.pyc

build
dist
ECV_IV.egg-info

# Yes, I'm using emacs
setup_win.py~

# end of file
