# .gitignore
# ----------------------------------------------------------------
# ECV-IV project
# ----------------------------------------------------------------

# ignore Eclispe configuration file
.project
.pydevproject
.settings

# end of file
